.box {
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
  }
  
  .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
   
  .box-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
  }
   
  .box-cont {
    /* padding: 20px; */
  }
   
  .box h2 {
    font-size: 1.5rem;
    color: #333;
  }
   
  .box p {
    color: #666;
  }
   
  .box a {
    color: #00a1a7;
    text-decoration: none;
    transition: color 0.3s ease;
  }
   
  .box a:hover {
    color: #04c2c9;
  }
   