<br><br><br><br><br><br>
<section>
  <div class="container">
    <div class="box-main">
      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/Angular_Snippet/commit/bb12627f7461fa308da974018e20b5f05b470639">ShopSphere</a></h2>
        </div>
      </div>

      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/ExpenseTracker">ExpenseTracker</a></h2>
        </div>
      </div>

      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/Cred-clone">Cred-clone</a></h2>
        </div>
      </div>

      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/gitadddemo.js/commit/0fb793c857ab3e8eb7646d6b7440acb4643ed501">REST (miniProject)</a></h2>
        </div>
      </div>

      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/Shreya_Pawar/tree/Shreya_P">Dual-Language Web Application</a></h2>
        </div>
      </div>

      <div class="box-cont">
        <div class="box">
          <h2><a href="https://github.com/ShreyaPawar2001/Angular-Projects/tree/Angular_Calculator">Angular Calculator</a></h2>
        </div>
      </div>
    </div>
  </div>
</section>