
<br><br><br><br><br><br><br><br><br><div class="about-section" >

<h3 style="color: #4a4a4a;">Passionate website developer with over 6 months of experience in WordPress theme customization and creating interactive websites. Proficient in HTML, CSS, JavaScript, and custom WordPress themes, with 1.4 years of experience in Angular development. Skilled in resolving validation errors, optimizing web performance, and facilitating seamless API communication using Postman. Enthusiastic about leveraging my background in ENTC engineering and web development expertise to deliver high-quality WordPress and Angular solutions.</h3>
<h2 style=" color: #00a1a7;">My Skills</h2>
<ul>
  <li>Frontend Development</li>
  <li>Angular Development</li>
  <li>Wordpress</li>
</ul>
<h2 style=" color: #00a1a7;">My Experience</h2>
<p>Maximize Market Research  2023-2024</p>

<h2 style=" color: #00a1a7;">Get in Touch</h2>
<p>shreyapawar0802@gmail.com</p>
</div>