<br><br><br>
<div class="resume-container">
    <div>
        <button><a href="https://drive.google.com/file/d/1iHxdfAF_k72FSf7kceUTw8ySVFT52YWv/view?usp=sharing" target="_blank" download>Download Resume</a></button>
    </div>
    
    <header>
        <h1>Shreya Pawar</h1>
        <p>Email: <a href="mailto:shreyapawar0898@gmail.com">shreyapawar0898@gmail.com</a> | Phone: +91-9172402719</p>
        <p>Address: Pune, Maharashtra</p>
    </header>

    <section>
        <h2>Career Summary</h2>
        <p>Passionate website developer with almost 2 years of experience in WordPress theme customization and creating interactive websites. Extensive experience in Angular development, skilled in resolving validation errors, optimizing web performance, and facilitating seamless API communication using Postman. Committed to delivering high-quality WordPress and Angular solutions by combining my technical expertise and creative problem-solving skills.</p>
    </section>

    

    <section>
        <h2>Professional Experience</h2>
        <h2>Website Developer - Maximize Market Research, Pune</h2>
        <p><em>Dec 2023 - June 2024</em></p>
        <ul>
            <li>Developed and maintained custom WordPress themes and plugins to meet client specifications, supporting daily and weekly report publications.</li>
            <li>Implemented responsive design techniques to ensure the website was mobile-friendly and optimized for various devices.</li>
            <li>Utilized HTML, PHP, CSS, and JavaScript to enhance website functionality and user experience.</li>
            <li>Integrated APIs to extend website capabilities and improve functionality.</li>
            <li>Collaborated with designers and content creators to ensure cohesive and visually appealing web pages.</li>
            <li>Utilized Git for version control and collaborated with team members through GitHub, ensuring smooth workflow.</li>
            <li>Conducted thorough testing and debugging to ensure website stability and performance across different browsers and devices.</li>
        </ul>

        <h2>Angular Developer - Infotel India PVT LTD, Bangalore</h2>
        <p><em>Aug 2022 - Nov 2023</em></p>
        <ul>
            <li>Developed a web-based Customer Requirement Management Software and a Hotel Management software to handle customer needs online, focusing on designing, creating, and refining features for smoother customer processes.</li>
            <li>Built an e-commerce website to address customer requirements, emphasizing feature enhancement and user experience refinement</li>
            <li>Worked with designers and backend developers to turn wireframes into interactive, responsive web pages.</li>
            <li>Built user interfaces using HTML5, CSS3, and JavaScript, ensuring cross-browser compatibility and performance.</li>
            <li>Implemented RESTful APIs and integrated data from backend services to create dynamic content for web applications.</li>
            <li>Utilized the Angular framework to build reusable and scalable front-end components.</li>
            <li>Improved code quality by leveraging TypeScript with static typing and object-oriented programming principles.</li>
            <li>Designed and implemented user authentication and authorization features to enhance the security of web applications.

            </li>
        </ul>
    </section>

    <section>
        <h2>Skills</h2>
        <ul>
            <li>Languages & Technologies: HTML, CSS, JavaScript, PHP</li>
            <li>Web Development: WordPress Theme Development, WordPress Plugin Development, Custom WordPress Themes</li>
            <li>Other Skills: Responsive Design, Debugging and Troubleshooting, Familiarity with WordPress Admin Panel</li>
            <li>Tools: Version Control (Git), Website Performance Optimization</li>
        </ul>
    </section>

    <section>
        <h2>Education & Qualification</h2>
        <ul>
            <li><strong>Bachelor of Electronic and Telecommunication Engineering</strong> - VidyaPratishthan Kamalnayan Bajaj Institute of Engineering & Technology, Baramati (2019-2022)</li>
            <li><strong>Diploma in Electronic and Telecommunication Engineering</strong> - Karmveer Bhaurao Patil, College of Polytechnic, Satara (2016-2019)</li>
            <li><strong>Secondary School Certificate</strong> - Gurukul Secondary School, Satara (2015-2016)</li>
        </ul>
    </section>

    <section>
        <h2>Certifications</h2>
        <ul>
            <li>PHP For Beginners - Become a Master - (Udemy)</li>
            <li>Designing Webpages Using HTML and CSS - (Internshala)</li>
            <li>Git and GitHub: Master Version Control - (Internshala)</li>
        </ul>
    </section>
</div> <br> <br><br>