<section>
  <div class="container">
    <div class="content-container">
      <div class="image-container">
        <img src="https://www.warner.codes/images/heart-light.png" alt="Heart Image">
      </div>
      <div class="hero-sect">
        <h1>Let's build the internet</h1>
        <p>Together we can make the world wide <br> web an awesome place to be.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="content-container">
      <div class="intro">
        <div class="intro1">
          <img src="\assets\shreyapawar-pic.png" alt=""width="300px" height="300px" style="border-radius: 50%;" >
          <h1>Who's this?</h1>
          <p style="font-size: 19px;color: rgb(110, 111, 111);"> I'm Shreya ,Over the past 2 years, <br>
             I have worked as an Angular developer and website developer,<br>
              collaborating with both established companies and  clients <br>
              to meet their specific requirements.</p> <br><br><br>
              <button><a href="/project">View Project</a></button>&nbsp;&nbsp;
              <button><a href="/about">Read About Me</a></button>
        </div>
        <div >
          <p style="color: rgb(110, 111, 111);">Website Developer and Angular Developer</p>

          <div class="bar css-bar">
            <div class="fill" style="width: 80%;"></div>
            <div class="tag bold flex">CSS</div>
          </div>

          <div class="bar html-bar">
            <div class="fill" style="width: 80%;"></div>
            <div class="tag bold flex">HTML</div>
          </div>

          <div class="bar js-bar">
            <div class="fill" style="width: 78%;"></div>
            <div class="tag bold flex">JavaScript</div>
          </div>

          <div class="bar angular-bar">
            <div class="fill" style="width: 77%;"></div>
            <div class="tag bold flex">Angular</div>
          </div>

          <div class="bar material-bar">
            <div class="fill" style="width: 75%;"></div>
            <div class="tag bold flex">Angular Material</div>
          </div>

          <div class="bar ts-bar">
            <div class="fill" style="width: 75%;"></div>
            <div class="tag bold flex">TypeScript</div>
          </div>

          <div class="bar bootstrap-bar">
            <div class="fill" style="width: 75%;"></div>
            <div class="tag bold flex">Bootstrap</div>
          </div>

          <div class="bar wordpress-bar">
            <div class="fill" style="width: 85%;"></div>
            <div class="tag bold flex">WordPress</div>
          </div>

          <div class="bar custom-wp-bar">
            <div class="fill" style="width: 75%;"></div>
            <div class="tag bold flex">Custom WordPress</div>
          </div>

          <div class="bar php-bar">
            <div class="fill" style="width: 50%;"></div>
            <div class="tag bold flex">Basic PHP</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br> 



